<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>INDEX</title>
    <script language="JavaScript">
        function a(data) {
            alert(data);
        }
    </script>
</head>
<body>

    Hello Thymeleaf!
    <br />

    <!-- thymeleaf取值 -->
    <p th:text="${context}">默认值</p>

    <!-- 循环 -->
    <p th:each="str:${list}" th:text="${str}"></p>

    <!-- 判断 -->
    <p th:if="1==1">true</p>
    <input type="checkbox" th:checked="${checked}=='true'" />

    <!-- 页面引入 -->
    <div th:include="indexInner::innerPart"></div>

    <!-- 传值给JavaScript -->
    <a th:href="'javascript:a(\''+${context}+'\');'">点我一下</a>

</body>
</html>